body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1e1e1e;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: orange;
    text-align: center;
}

.body-content h3 {
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
}