<div>
    <h3>Cleanware Generator</h3>
    <p>Generate a "unique" PE32 file for AV Testing below (Macho and PE32+ coming sonn)</p>

    <form asp-controller="Home" asp-action="Generate" method="post">
        <button type="submit" class="btn-lg btn-primary">generate false positive</button>
    </form>
</div>