@using cwg.web.Data
@using cwg.web.Generators
@if (_responseModel != null)
{
    <h4>Generated @_responseModel.FileType file (@_responseModel.SHA1)</h4>

    <a href="/file/@_responseModel.FileName" role="button" class="btn btn-info btn-lg">Download File</a>
    <br />
    <br />

    <a href="/Home/Generate?numberToGenerate=1&fileType=@Uri.EscapeDataString(_responseModel.FileType)" role="button" class="btn btn-success">generate one more</a>

    <a href="/" onclick="ClearForm()" class="btn btn-warning">home</a>
}

@code {
    private GenerationResponseModel _responseModel = null;

    private GenerationRequestModel _requestModel = new GenerationRequestModel();

    private void HandleValidSubmit()
    {
        _responseModel = GeneratorService.GenerateFile(_requestModel);
    }
}
