@page "/"

@using cwg.web.Data;
@using cwg.web.Generators

@inject GeneratorsService GeneratorService

@if (_generators != null)
{
    <section class="h-100">
        <header class="container h-100">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="d-flex flex-column">
                    <form asp-controller="Home" asp-action="Generate" method="post">
                        <h2>cwg</h2>
                        <div class="form-group">
                            <label for="fileType">sample type</label>

                            <select id="fileType" name="fileType" class="form-control" style="max-width: 200px; margin: 0 auto; text-align: center">
                                @foreach (var generator in _generators)
                                {
                                    <option>@generator.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-lg btn-primary">generate sample(s)</button>
                        </div>
                    </form>
                    </div>
            
        </div>
        </header>
    </section>
}

@code {
    private IEnumerable<BaseGenerator> _generators;

    protected override void OnInitialized()
    {
        _generators = GeneratorService.GetGenerators();
    }
}
